<!-- Call to action Start -->
{{ with .Site.Params.call }}
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block" style="color: #E9E2CF">
          <h2>{{ .title }}</h2>
          <p>{{ .paragraph }}</p>
          {{ with .button }}
          <a href="{{ .url }}" ><img alt="Core EOS logo" style="max-width: 100%; height: auto; margin-top: 20px;" src="https://unitedeffects.com/images/core-eos-logo.svg"></a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}