<!-- Call to action Start -->
{{ with .Site.Params.call }}
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block" style="color: #E9E2CF">
          <h3>{{ .title }}</h3>
          <p>{{ .paragraph }}</p>
          {{ with .button }}
          <a href="{{ .url }}" ><img alt="United Effects" style="max-width: 100%; height: auto; margin-top: 20px;" src="https://uploads-ssl.webflow.com/63ddcf880e4a61a502e3f165/63fbca3a0f51e2066c0df3cb_Homepage%20Logo.png"></a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}