<!-- Slider Start -->
<section id="slider">
    <video autoplay muted loop playsinline id="myVideo">
        <source src="/img/tbe-Background-Moon-smaller.mp4" type="video/mp4">
    </video>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="block text-center">
                    <h1 class="animated fadeInUp text-uppercase">{{ .Site.Params.slider.title | safeHTML }}</h1>
                    <p class="animated fadeInUp">{{ .Site.Params.slider.subtitle | safeHTML }}</p>
                </div>
            </div>
        </div>
    </div>
</section>