<!-- Call to action Start -->
{{ with .Site.Params.call }}
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block" style="color: #E9E2CF">
          <h3>{{ .title }}</h3>
          <p>{{ .paragraph }}</p>
          {{ with .button }}
          <a href="{{ .url }}" ><img alt="United Effects Logo" style="max-width: 85px; height: auto;" src="https://cdn.prod.website-files.com/63ddcf880e4a61a502e3f165/661ed05c48286ffb7c39cbbe_uelogo.svg"></a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}